@layer milo.components {
  .root {
    position: relative;
    display: inline-flex;
    height: 22px;
    width: 2.5rem;
    flex-shrink: 0;
    align-items: center;
    border-radius: var(--radius-full);
    padding: 0.125rem;
  }

  .motion {
    transition-property: background-color,box-shadow;
    transition-duration: var(--duration-normal);
    transition-timing-function: var(--ease-out);
  }

  .disabled {
    &:disabled {
      opacity: .45;
      pointer-events: none;
    }
  }

  .thumb {
    width: 18px;
    height: 18px;
    border-radius: var(--radius-full);
  }

  .thumbMotion {
    transition-property: transform,translate,scale,rotate;
    transition-duration: var(--duration-normal);
    transition-timing-function: var(--ease-out);
  }

  .thumbOn {
    translate: 18px 0;
  }

  .thumbOff {
    translate: 0 0;
  }
}
