@layer milo.components {
  .root {
    position: relative;
    display: inline-flex;
    height: 22px;
    width: 2.5rem;
    flex-shrink: 0;
    align-items: center;
    border-radius: var(--radius-full);
    padding: 0.125rem;
  }

  .box {
    transition-property: background-color,box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: var(--duration-normal);
    transition-timing-function: var(--ease-out);
  }

  .box2 {

    &:disabled {
      opacity: .45;
      pointer-events: none;
    }
  }

  .span {
    width: 18px;
    height: 18px;
    border-radius: var(--radius-full);
  }

  .span2 {
    transition-property: transform,translate,scale,rotate;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: var(--duration-normal);
    transition-timing-function: var(--ease-out);
  }

  .box5 {
    --milo-translate-x: 18px;
    translate: var(--milo-translate-x) var(--milo-translate-y);
  }

  .box6 {
    --milo-translate-x: 0px;
    translate: var(--milo-translate-x) var(--milo-translate-y);
  }

}
