@layer milo.components {
  .root {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-md);
    --milo-ring-shadow: var(--milo-ring-inset,) 0 0 0 calc(1px + var(--milo-ring-offset-width)) var(--milo-ring-color,currentcolor);
    box-shadow: var(--milo-inset-shadow),var(--milo-inset-ring-shadow),var(--milo-ring-offset-shadow),var(--milo-ring-shadow),var(--milo-shadow);
    --milo-ring-color: var(--border);
  }

  .scroller {
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  .clipShadow {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2.5rem;
    background-image: linear-gradient(to left in oklab, var(--surface), transparent);
  }

  .head {
    background-color: var(--surface-muted);
  }

  .foot {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: var(--border);
    background-color: var(--surface-muted);
    & td {
      font-weight: var(--font-weight-semibold);
    }
    & tr {
      border-style: solid;
      border-width: 0;
    }
  }

  .row {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--border);
    transition-property: color,background-color,border-color,outline-color,text-decoration-color,fill,stroke;
    transition-duration: var(--duration-fast);
    transition-timing-function: var(--ease-out);
    &:last-child {
      border-style: solid;
      border-width: 0;
    }
  }

  .active {
    background-color: var(--surface-muted);
  }

  .clickable {
    cursor: pointer;
  }

  .headCell {
    height: 2.5rem;
    padding-inline: 1rem;
    font-size: var(--type-label);
    line-height: var(--type-label-lh);
    letter-spacing: var(--type-label-ls);
    font-weight: var(--font-weight-semibold);
    color: var(--text);
    &:first-child {
      padding-left: 1.5rem;
    }
    &:last-child {
      padding-right: 1.5rem;
    }
  }

  .cell {
    height: 3.5rem;
    padding-inline: 1rem;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text);
    &:first-child {
      padding-left: 1.5rem;
    }
    &:last-child {
      padding-right: 1.5rem;
    }
  }

  .cellTitle {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: var(--type-reading);
    line-height: var(--type-reading-lh);
    letter-spacing: var(--type-reading-ls);
    font-weight: var(--font-weight-semibold);
    color: var(--text);
  }

  .cellHint {
    margin-top: 0.125rem;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text-muted);
  }

  .numberCell {
    height: 3.5rem;
    padding-inline: 1rem;
    text-align: right;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text);
    &:first-child {
      padding-left: 1.5rem;
    }
    &:last-child {
      padding-right: 1.5rem;
    }
  }

  @media (hover:hover) {
    .clickable:hover {
        background-color: var(--surface-muted);
    }
  }
}
