@layer milo.components {
  .root {
    display: inline-flex;
    isolation: isolate;
  }

  .root > * {
    position: relative;
  }

  .root > *:focus-visible {
    z-index: 1;
  }

  .horizontal > *:not(:first-child) {
    margin-left: -1px;
  }

  .horizontal > *:not(:first-child)::before,
  .vertical > *:not(:first-child)::before {
    content: "";
    position: absolute;
    background-color: color-mix(in oklab, currentColor 16%, transparent);
    pointer-events: none;
    z-index: 2;
  }

  .horizontal > *:not(:first-child)::before {
    top: 50%;
    translate: 0 -50%;
    left: 0;
    width: 1px;
    height: 80%;
  }

  .vertical > *:not(:first-child)::before {
    left: 50%;
    translate: -50% 0;
    top: 0;
    width: 80%;
    height: 1px;
  }

  .horizontal > *:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .horizontal > *:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .vertical {
    flex-direction: column;
  }

  .vertical > *:not(:first-child) {
    margin-top: -1px;
  }

  .vertical > *:not(:last-child) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .vertical > *:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
