@layer milo.app {
  .ringedPlate {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: var(--radius-xl);
    background-color: var(--surface-muted);
    padding: 0.75rem;
  }

  .defaultRingPlate {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: var(--radius-xl);
    background-color: var(--surface-muted);
    padding: 0.75rem;
  }
}
