@layer milo.app {
  .pieceGrid {
    display: grid;
    max-width: 680px;
    gap: 1rem;
  }

  .ratioGrid {
    display: grid;
    max-width: 760px;
    gap: 1rem;
  }

  @media (min-width:40rem) {
    .pieceGrid {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
  }

  @media (min-width:40rem) {
    .ratioGrid {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
  }

  @media (min-width:64rem) {
    .ratioGrid {
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
  }
}
