@layer milo.components {
  .root {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color,border-color,color;
    transition-duration: var(--duration-fast);
    transition-timing-function: var(--ease-out);
  }

  .pressed:active {
    filter: brightness(0.94);
  }

  .disabled {
    &:disabled {
      opacity: .45;
      pointer-events: none;
    }
  }

  .radius {
    border-radius: var(--radius-md);
  }

}
