@layer milo.components {
  .nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: var(--border);
    padding-inline: 1rem;
    padding-block: 0.75rem;
  }

  .p {
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text-muted);
  }

  .button {
    margin-left: auto;
    color: var(--text)!important;
  }

  .button2 {
    color: var(--text)!important;
  }

}
