:root {
  --shade-01: #ffffff;  
  --shade-02: #f1f2f4;  
  --shade-03: #e9eaec;
  --shade-04: #dee0e2;
  --shade-05: #cfd1d4;
  --shade-06: #616264;  
  --shade-07: #48494a;
  --shade-08: #363738;
  --shade-09: #2b2b2d;  
  --shade-placeholder: #68696b;

  --shade-09-a04: rgb(43 43 45 / 0.04);
  --shade-09-a06: rgb(43 43 45 / 0.06);
  --shade-09-a08: rgb(43 43 45 / 0.08);
  --shade-09-a11: rgb(43 43 45 / 0.11);
  --shade-09-a28: rgb(43 43 45 / 0.28);
  --shade-09-a35: rgb(43 43 45 / 0.35);

  --light-a33: rgb(255 255 255 / 0.33);
  --light-a27: rgb(255 255 255 / 0.27);
  --edge: #c5c7ca;
  --solid-edge: #4a4b4c;
  --icon-muted: #48494a;

  --blue-050: #e7f7ff;
  --blue-100: #cdecff;
  --blue-200: #aad9ff;
  --blue-300: #7cbfff;
  --blue-400: #50a1ff;
  --blue-500: #2f88ff;
  --blue-600: #1b73e7;  
  --blue-700: #105ec1;
  --blue-800: #0c4894;
  --blue-900: #0c3368;
  --blue-500-a45: rgb(47 136 255 / 0.45);

  --yellow-050: #fbf0a7;
  --yellow-100: #f5e368;  
  --yellow-200: #dfcf5e;
  --yellow-300: #c3b551;
  --yellow-400: #a79a44;
  --yellow-500: #92873b;
  --yellow-600: #7e7431;
  --yellow-700: #665e27;
  --yellow-800: #4d471b;
  --yellow-900: #353010;

  --mark-green: #91d09a;    --mark-green-ink: #135c26;
  --mark-purple: #ccaef3;   --mark-purple-ink: #6e1cab;
  --mark-orange: #eab177;   --mark-orange-ink: #6c4210;
  --mark-blue: #95c0ff;     --mark-blue-ink: #0f4b99;
  --mark-pink: #f5a2b6;     --mark-pink-ink: #8f1746;

  --label-green: #04983b;
  --label-teal: #049393;
  --label-blue: var(--blue-500);
  --label-purple: #ad5afa;
  --label-pink: #f9267b;
  --label-orange: #dc6700;

  --label-green-soft: #e0f8e2;   --label-green-ink: #007f21;
  --label-teal-soft: #e0f5f5;    --label-teal-ink: #00797a;
  --label-blue-soft: #def2ff;    --label-blue-ink: #0067db;
  --label-purple-soft: #f8e8ff;  --label-purple-ink: #923cdc;
  --label-pink-soft: #ffe2ec;    --label-pink-ink: #ce0059;
  --label-orange-soft: #ffece2;  --label-orange-ink: #ad4f00;

  --accent-500: #ec4c07;
  --accent-600: #c53f05;
  --accent-050: #fdf0ea;
  --accent-fill: #db3b00;
  --ok-fill: #048634;

  --ok-500: #04983b;
  --ok-700: #04712c;
  --ok-050: #eafdf1;
  --warn-500: #ff7800;
  --warn-700: #9b4600;
  --warn-050: #fff6f2;
  --bad-fill: #e81f20;
  --bad-fill-hover: #ce010f;
  --bad-700: #a81713;
  --bad-050: #fdeaea;
  --ok-border: #c2e4c5;
  --warn-border: #f0d2c2;
  --bad-border: #ffc7be;
  --info-border: #c0dbff;

  --tint-1: #eef2ef;
  --tint-2: #ecf1f7;
  --tint-3: #f9efe9;
  --tint-4: #f1eef7;
  --tint-5: #fbf4e6;
  --tint-6: #f9eef1;
}

[data-theme="dark"] {
  --shade-01: #1d1e20;  
  --shade-02: #131415;  
  --shade-03: #27292b;
  --shade-04: #343538;
  --shade-05: #46484b;
  --shade-06: #9d9fa0;
  --shade-07: #c3c4c5;
  --shade-08: #dfe0e1;
  --shade-09: #f3f3f4;
  --shade-placeholder: #8e9091;

  --shade-09-a04: rgb(243 243 244 / 0.05);
  --shade-09-a06: rgb(243 243 244 / 0.08);
  --shade-09-a08: rgb(243 243 244 / 0.10);
  --shade-09-a11: rgb(243 243 244 / 0.14);
  --shade-09-a28: rgb(243 243 244 / 0.30);
  --shade-09-a35: rgb(0 0 0 / 0.6);

  --light-a33: rgb(255 255 255 / 0.07);
  --light-a27: rgb(255 255 255 / 0.05);
  --edge: #4f5052;
  --solid-edge: #d0d1d2;
  --icon-muted: #c3c4c5;

  --blue-050: #062148;
  --blue-100: #022d66;
  --blue-200: #003d88;
  --blue-300: #0051b1;
  --blue-400: #1970e0;  
  --blue-500: #368fff;
  --blue-600: #54a6ff;
  --blue-700: #7abfff;
  --blue-800: #a4d7ff;
  --blue-900: #cdecff;
  --blue-500-a45: rgb(54 143 255 / 0.6);

  --yellow-050: #272309;
  --yellow-100: #363110;
  --yellow-200: #484219;
  --yellow-300: #5f5823;
  --yellow-400: #807632;
  --yellow-500: #9e9240;
  --yellow-600: #b2a549;
  --yellow-700: #cabb54;
  --yellow-800: #e4d360;
  --yellow-900: #f9ea83;  

  --mark-green: #143d1d;    --mark-green-ink: #3ee06a;
  --mark-purple: #3b2850;   --mark-purple-ink: #d0b0f9;
  --mark-orange: #4b2a00;   --mark-orange-ink: #fab061;
  --mark-blue: #193357;     --mark-blue-ink: #9ec3f9;
  --mark-pink: #50212e;     --mark-pink-ink: #faa6ba;

  --label-green: #05b646;
  --label-teal: #05b1b1;
  --label-blue: var(--blue-500);
  --label-purple: #bb77fb;
  --label-pink: #fa448d;
  --label-orange: #f17200;

  --label-green-soft: #0c3314;   --label-green-ink: #44a757;
  --label-teal-soft: #0b3030;    --label-teal-ink: #43a1a0;
  --label-blue-soft: #132a4a;    --label-blue-ink: #5594e6;
  --label-purple-soft: #322044;  --label-purple-ink: #aa7bdb;
  --label-pink-soft: #471628;    --label-pink-ink: #e5638f;
  --label-orange-soft: #3f2110;  --label-orange-ink: #ec6f00;

  --accent-500: #f95c19;
  --accent-600: #fa753c;
  --accent-fill: #da3d00;
  --ok-fill: #0a7a38;
  --accent-050: #2a1811;

  --ok-500: #05b646;
  --ok-700: #3ad472;
  --ok-050: #15351f;
  --warn-500: #ff8432;
  --warn-700: #ff9759;
  --warn-050: #3d271a;
  --bad-fill: #dd3636;
  --bad-fill-hover: #c42529;
  --bad-700: #fb827e;
  --bad-050: #351816;
  --ok-border: #14491f;
  --warn-border: #58321c;
  --bad-border: #652622;
  --info-border: #1d3d68;

  --tint-1: #1b201d;
  --tint-2: #191f27;
  --tint-3: #241d19;
  --tint-4: #1f1d26;
  --tint-5: #221f18;
  --tint-6: #231b1e;
}
