@layer milo.app {
  .tonesStack {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .partsStack {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .iconStack {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}
