@layer milo.app {
  .div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
  }

  .card {
    width: 320px;
  }

  .div2 {
    display: flex;
    flex-direction: column;
  }

  .card2 {
    width: 320px;
  }

  .p {
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text-muted);
  }

  .div3 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .card3 {
    width: 260px;
  }

  .div4 {
    border-radius: var(--radius-sm);
    background-color: var(--tint-2);
  }

  .div5 {
    padding-inline: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }

  .div6 {
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-semibold);
  }

  .div7 {
    margin-top: 0.25rem;
    font-size: var(--type-meta);
    line-height: var(--type-meta-lh);
    letter-spacing: var(--type-meta-ls);
    color: var(--text-muted);
  }

  .card4 {
    width: 260px;
  }

  .div8 {
    border-radius: var(--radius-sm);
    background-color: var(--tint-3);
  }

  .div9 {
    padding-inline: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }

  .div10 {
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-semibold);
  }

  .div11 {
    margin-top: 0.25rem;
    font-size: var(--type-meta);
    line-height: var(--type-meta-lh);
    letter-spacing: var(--type-meta-ls);
    color: var(--text-muted);
  }

  .div12 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .card5 {
    width: 260px;
    padding: 1rem;
  }

  .div13 {
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-semibold);
  }

  .div14 {
    margin-top: 0.25rem;
    font-size: var(--type-meta);
    line-height: var(--type-meta-lh);
    letter-spacing: var(--type-meta-ls);
    color: var(--text-muted);
  }

  .card6 {
    width: 260px;
    padding: 1rem;
  }

  .div15 {
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-semibold);
  }

  .div16 {
    margin-top: 0.25rem;
    font-size: var(--type-meta);
    line-height: var(--type-meta-lh);
    letter-spacing: var(--type-meta-ls);
    color: var(--text-muted);
  }

  .a {
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }

}
