@layer milo.app {
  .singleLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
  }

  .itemLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
  }
}
