@layer milo.app {
  .canvas {
    display: flex;
    justify-content: center;
  }

  .canvas2 {
    display: flex;
    justify-content: center;
  }

  .a {
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }

}
