@layer milo.app {
  .sizesStack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .insetBox {
    border-radius: var(--radius-md);
    --milo-ring-shadow: var(--milo-ring-inset,) 0 0 0 calc(1px + var(--milo-ring-offset-width)) var(--milo-ring-color,currentcolor);
    box-shadow: var(--milo-inset-shadow),var(--milo-inset-ring-shadow),var(--milo-ring-offset-shadow),var(--milo-ring-shadow),var(--milo-shadow);
    --milo-ring-color: var(--border);
  }

  .dashedStack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .raisedBox {
    border-radius: var(--radius-xl);
    padding: 0.5rem;
    --milo-shadow: var(--relief-card);
    box-shadow: var(--milo-inset-shadow),var(--milo-inset-ring-shadow),var(--milo-ring-offset-shadow),var(--milo-ring-shadow),var(--milo-shadow);
  }

}
