@layer milo.app {
  .div {
    display: flex;
    max-width: 420px;
    flex-direction: column;
    gap: 1.25rem;
  }

  .div2 {
    display: flex;
    max-width: 420px;
    flex-direction: column;
    gap: 1.25rem;
  }

  .div3 {
    width: 100%;
    max-width: 320px;
  }

  .div4 {
    width: 100%;
    max-width: 420px;
  }

  .a {
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }

}
