@layer milo.app {
  .div {
    display: grid;
    max-width: 680px;
    gap: 1rem;
  }

  .div2 {
    display: grid;
    max-width: 760px;
    gap: 1rem;
  }

  @media (min-width:40rem) {
    .div {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
  }

  @media (min-width:40rem) {
    .div2 {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
  }

  @media (min-width:64rem) {
    .div2 {
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
  }

}
