@layer milo.app {
  .paragraphText {
    max-width: 60ch;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text-muted);
  }

  .externalText {
    max-width: 60ch;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text-muted);
  }
}
