@layer milo.app {

  .wideBody {
    padding: 1.5rem;
  }

  .wideTitle {
    font-size: var(--type-title);
    line-height: var(--type-title-lh);
    letter-spacing: var(--type-title-ls);
    font-weight: var(--font-weight-medium);
  }


  .wideText {
    margin-top: 0.5rem;
    max-width: 52ch;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text-muted);
  }

  .wideActions {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .narrowBody {
    padding: 1.5rem;
  }

  .narrowTitle {
    font-size: var(--type-reading);
    line-height: var(--type-reading-lh);
    letter-spacing: var(--type-reading-ls);
    font-weight: var(--font-weight-semibold);
  }

  .narrowText {
    margin-top: 0.5rem;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text-muted);
  }

  .narrowActions {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }



}
