@layer milo.app {
  .checkboxPair {
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
  }


  .looseGroup {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  .yesLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text);
  }

  .noLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    font-weight: var(--font-weight-medium);
    color: var(--text);
  }

}
