@layer milo.app {
  .div {
    border-radius: var(--radius-xl);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border);
    padding: 1.5rem;
  }

  .div2 {
    margin-top: 0.75rem;
    display: flex;
    gap: 0.5rem;
  }

  .div3 {
    max-width: 320px;
    border-radius: var(--radius-xl);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border);
    padding: 1.5rem;
  }

  .div4 {
    border-radius: var(--radius-xl);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border);
    padding: 1.5rem;
  }

}
