@layer milo.app {
  .div {
    display: flex;
    max-width: 420px;
    flex-direction: column;
    gap: 1.25rem;
  }

  .div2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1.5rem;
  }

}
