@layer milo.app {
  .filterGap {
    margin-bottom: 0.75rem;
  }

  .teacherCell {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .teacherName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .fractionTotal {
    color: var(--text-muted);
  }

  .twoRow {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: var(--radius-xl);
    padding: 1rem;
    --milo-ring-shadow: var(--milo-ring-inset,) 0 0 0 calc(1px + var(--milo-ring-offset-width)) var(--milo-ring-color,currentcolor);
    box-shadow: var(--milo-inset-shadow),var(--milo-inset-ring-shadow),var(--milo-ring-offset-shadow),var(--milo-ring-shadow),var(--milo-shadow);
    --milo-ring-color: var(--border);
  }

  .threeRow {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: var(--radius-xl);
    padding: 1rem;
    --milo-ring-shadow: var(--milo-ring-inset,) 0 0 0 calc(1px + var(--milo-ring-offset-width)) var(--milo-ring-color,currentcolor);
    box-shadow: var(--milo-inset-shadow),var(--milo-inset-ring-shadow),var(--milo-ring-offset-shadow),var(--milo-ring-shadow),var(--milo-shadow);
    --milo-ring-color: var(--border);
  }

  .fourRow {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: var(--radius-xl);
    padding: 1rem;
    --milo-ring-shadow: var(--milo-ring-inset,) 0 0 0 calc(1px + var(--milo-ring-offset-width)) var(--milo-ring-color,currentcolor);
    box-shadow: var(--milo-inset-shadow),var(--milo-inset-ring-shadow),var(--milo-ring-offset-shadow),var(--milo-ring-shadow),var(--milo-shadow);
    --milo-ring-color: var(--border);
  }

  .fiveRow {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: var(--radius-xl);
    padding: 1rem;
    --milo-ring-shadow: var(--milo-ring-inset,) 0 0 0 calc(1px + var(--milo-ring-offset-width)) var(--milo-ring-color,currentcolor);
    box-shadow: var(--milo-inset-shadow),var(--milo-inset-ring-shadow),var(--milo-ring-offset-shadow),var(--milo-ring-shadow),var(--milo-shadow);
    --milo-ring-color: var(--border);
  }

  .mutedRow {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: var(--radius-xl);
    background-color: var(--surface-muted);
    padding: 1rem;
  }
}
