@layer milo.app {
  .div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
  }

  .box {
    width: 100%;
  }

  .textField {
    width: 100%;
  }

  .box2 {
    width: 100%;
  }

  .textField2 {
    width: 100%;
  }

  .div2 {
    width: 100%;
    max-width: 320px;
  }

  .div3 {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
  }

  .div4 {
    width: 100%;
    max-width: 320px;
  }

  .box3 {
    width: 100%;
  }

  .div5 {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
  }

  .div6 {
    width: 100%;
    max-width: 320px;
  }

  .textField3 {
    width: 100%;
  }

}
