@layer milo.app {
  .div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
  }

  .div2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }

  .div3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .p {
    max-width: 70ch;
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    letter-spacing: var(--type-body-ls);
    color: var(--text-muted);
  }

}
