@layer milo.components {
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight-semibold);
    white-space: nowrap;
  }

  .box {
    transition-property: background-color,color,box-shadow,filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: var(--duration-fast);
    transition-timing-function: var(--ease-out);
  }

  .box2 {

    &:disabled {
      opacity: .45;
      pointer-events: none;
    }
  }

  .block {
    width: 100%;
  }

}
